<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
</head>
<body>
<p>Здравсвуйте! Меня я Джавохир Исмоилов.</p>
<p>Мой резюме в <a href="https://hh.ru/resume/839543e0ff0aed5ffc0039ed1f776767506e69">HH</a></p>
<p>Имею 3 года опыта разработки и последнее пол года использую java.</p>
<p>Работая PHP разработчиком использваоль YII2, Symfony, Docker, Postgresql и
    многое другое которые могу пригодиться везеде.</p>
<p>Таже часто приходлось заниматься фронтендом начиная от верстки до Vue.js</p>
<p>Могу рабоать fullstack</p>
</body>
</html>