<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Как это работает!</title>
</head>
<body>
<h1>Реализация</h1>
<p>
    Пользователей в Windows получаю с помощью C++. Реализация находится в файле get_users.cc и подключается к
    Node.js как модуль.
</p>
<p>
    В  Node.js вызывается метод getUsers(), который возвращает всех пользоватлей в виде строки.
</p>
<p>Получанная строка разбывается на массив и сравнивается с входящим параметром</p>

<p><strong>Для корректной сборки нужны средства для разработки  С++ и Pyton3</strong></p>
</body>
</html>