<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node.js WinAPI project</title>
</head>
<body>
<nav><a href="/how-it-work">Как это работает</a><a href="/author">Автор</a></nav>
<h3>Поиск пользователья в Windows</h3>
<form id="form">
    <input type="text" name="username" placeholder="Имя пользователя" required minlength="3">
    <input type="submit" value="Проверить">
</form>
<div id="message"></div>
<script>
    document.querySelector('form').addEventListener("submit",async (evt) => {
        evt.preventDefault();
        let form = document.querySelector('#form');
        let data = new FormData(form);
        fetch(
            '/check-user',
            {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ username: data.get("username") })
            }
        )
        .then((response) => response.json())
        .then((data) => {
            document.querySelector("#message").textContent=data.message
        })
        .catch(()=>{
            document.querySelector("#message").textContent="Ошибка поиска!"
        })
    });
</script>

<style>
    nav{
        padding: 10px;
        background: #e6e6e6;
    }
    a{
        margin-right: 15px;
        text-decoration: none;
        color: #2f2f2f;
    }
</style>
</body>
</html>