<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node.js WinAPI project</title>
</head>
<body>
<h1>Поиск пользователья в Windows</h1>

<form>
    <input type="text" name="username" placeholder="Имя пользователя" required minlength="3">
    <input type="submit" value="Найти">
</form>
<script>
    document.querySelector('form').addEventListener("submit",async (evt) => {
        evt.preventDefault();
        fetch(
            '/check-user',
            {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ username: 'Admin' })
            }
        ).then(result => result.json().then(console.log))
        .catch(()=>{
            console.log("Пользователь не найден");
        })
    });
</script>
</body>
</html>